# Xcode
.DS_Store
build/
DerivedData/
xcuserdata/
*.xcscmblueprint

# Swift Package Manager
.build/
Packages/
Package.resolved

# CocoaPods
Pods/
Podfile.lock
*.xcworkspace

# Carthage
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
fastlane/readme.md

# Code Injection and Temporary Files
.idea/                       # If you use JetBrains IDEs, otherwise you can remove this
*.hmap
*.ipa
*.app.dSYM
*.playground/

# Build artifacts
*.o
*.d
*.tbd
*.swiftdoc
*.swiftsourceinfo
*.swiftmodule
*.sym
*.bcsymbolmap
*.dSYM

# User-specific files
*.mode1v3
*.mode2v3
*.perspectivev3

# iOS specific
*.moved-aside
*.hmap

# Simulator devices
**/Devices/

# Exclude playground files
*.playground/

